<div class="w-full restaurant-height relative">
    <div class="w-full h-full left-0 top-0 absolute">
        <img class="w-full h-full object-cover" src="<%= bannerImage %>">
    </div>
    <div class="flex items-center w-full h-full">
        <div class="bg-white black z-10">
            <div class="p-6 pr-10 pl-20 flex flex-col">
                <small class="text-xs">#<%= id %></small>
                <h2 class="text-3xl font-bold"><%= name %></h2>
                <span><%= tags %></span>
                <span><%= address %></span>
            </div>
        </div>
    </div>
</div>