<section>
    <h2 class="text-2xl mb-4">Note</h2>
    <div class="flex items-center">
        <div class="mr-8 flex flex-col items-center">
            <span class="text-5xl"><%= ratings.averageRating ? ratings.averageRating.toFixed(1) : 'N/A' %></span>
            <span class="flex items-center text-xs flex-nowrap text-gray-700"><img
                    src="/images/record_voice_over-24px.svg" height="24" width="24"
                    class="pr-2"><%= ratings.ratingLength %> total</span>
        </div>
        <div class="w-64 sm:w-64">

            <% for (let index = 5 ; index >= 1 ; index--) { %>
                <%
                    let color = "bg-green-500";
                    if (index === 4) color = "bg-green-400";
                    if (index === 3) color = "bg-orange-300";
                    if (index === 2) color = "bg-orange-400";
                    if (index === 1) color = "bg-red-400";

                    if (ratings.graphicalRating[index] === 0) ratings.graphicalRating[index] = 2;
                %>

                <div class="flex items-center mb-1">
                    <span class="mr-2 text-xs"><%= index %></span>
                    <div title="<%= ((ratings.graphicalRating[index]*ratings.ratingLength)/100).toFixed(0) %>" class="w-1 pb-4 text-center text-xs <%= color %>" style="width: <%= ratings.graphicalRating[index] %>%"></div>
                </div>
            <% } %>

          
                    

                    
              

        </div>
    </div>
</section>