<%- include('../templates/header', {
    hideNavbar: false
}) %>

<%- include('_banner', {
    restaurant: restaurant
  }) %>

<div class="custom-container lg:pl-20 lg:pr-20 pl-4 pr-4 mt-10">
    <hr class="border-gray-400 mt-10 mb-10">
    <%- include('_products') %>
    <hr class="border-gray-400 mt-10 mb-10">
    <%- include('_ratings', { restaurant: restaurant }) %>
    <hr class="border-gray-400 mt-10 mb-10">
    <%- include('_comments', { id: restaurant.id, session: session }) %>
</div>

<script src="/javascripts/product.min.js"></script>

<%- include('../templates/footer') %>